.example-card {
  width: 100%;
}

.example-card2 {
  width: 80%;
  float: right;
  border-radius: 25px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

