<img src="assets/navbarHello.PNG"/>

<div class="hello" [ngStyle]="{'background-image': 'url(' + photo + ')'}">


  <div class="klasa1">
    <button type=" submit" style="border: 0; background: transparent;" routerLink="/search" >
      <img src="../../assets/Bottom1.png" alt="submit"/>
    </button>
  </div>
  <div class="klasa2">
    <button type=" submit" style="border: 0; background: transparent;" routerLink="/events">
      <img src="../../assets/Bottom2.png" alt="submit"/>
    </button>
  </div>
  <div class="klasa3">
    <button type=" submit" style="border: 0; background: transparent" routerLink="/story-telling">
      <img src="../../assets/Bottom3.png" alt="submit"/>
    </button>
  </div>

</div>
